.topBarBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: black;
  color: whitesmoke;
}

.leftContents {
  display: flex;
  align-items: center;
}

.rightContents {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  padding: 0 1em;
  cursor: pointer;
}

.mainpage_Link {
  font-size: 1.2em;
  padding-right: 1em;
  cursor: pointer;
}

.notice_Link {
  font-size: 1.2em;
  padding-right: 1em;
  cursor: pointer;
}

.mypage_Link {
  font-size: 1.2em;
  padding-right: 1em;
  cursor: pointer;
}

.questBoard_Link {
  font-size: 1.2em;
  padding-right: 1em;
  cursor: pointer;
}

.login_Link {
  font-size: 1.2em;
  padding-right: 1em;
  cursor: pointer;
}